<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head th:replace="~{common/header :: common-header}"/>
<body roleId="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<!--<head th:replace="common/header :: navbar" />-->
<div class="container">
    <div class="row main">
        <div class="panel-heading">
            <div class="panel-title text-center">
                <h1 class="title">Sign Up</h1>
                <hr/>
            </div>
        </div>
        <div class="main-login main-center">
            <form class="form-horizontal" method="post" th:action="@{/signup}">

                <div class="form-group">
                    <label for="firstName" class="cols-sm-2 control-label">First Name</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" th:value="${user.firstName}" id="firstName"
                                   name="firstName" roleId="firstname" placeholder="Enter your first name"
                                   required="required"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="lastName" class="cols-sm-2 control-label">Last Name</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" th:value="${user.lastName}" id="lastName"
                                   name="lastName" roleId="lastName" placeholder="Enter your last name"
                                   required="required"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="phone" class="cols-sm-2 control-label">Phone</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-phone fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" th:value="${user.phone}" id="phone" name="phone"
                                   roleId="phone" placeholder="xxx-xxx-xxxx" required="required"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="email" class="cols-sm-2 control-label">Your Email</label>
                    <span class="bg-danger pull-right" th:if="${emailExists}">Email already exists</span>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                            <input type="email" class="form-control" th:value="${user.email}" id="email" name="email"
                                   roleId="email" placeholder="Enter your Email" required="required"/>
                        </div>
                        <span id="emailWarning" class="text-danger" style="display:none;">Please enter a valid email address.</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="username" class="cols-sm-2 control-label">Username</label><span
                        class="bg-danger pull-right" th:if="${usernameExists}">Username already exists</span>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" th:value="${user.username}" id="username"
                                   name="username" roleId="username" placeholder="Enter your Username"
                                   required="required"/>
                        </div>
                    </div>
                </div>

<!--                <div class="form-group">-->
<!--                    <label for="password" class="cols-sm-2 control-label">Password</label>-->
<!--                    <div class="cols-sm-10">-->
<!--                        <div class="input-group">-->
<!--                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>-->
<!--                            <input type="password" class="form-control" th:value="${user.password}" id="password"-->
<!--                                   name="password" roleId="password" placeholder="Enter your Password"-->
<!--                                   required="required"-->
<!--                                   pattern="(?=.*[!@#$%^&*()_+={}\[\]:;<>,.?/~`\-])[A-Za-z\d!@#$%^&*()_+={}\[\]:;<>,.?/~`\-]{8,}"-->
<!--                            />-->
<!--                        </div>-->
<!--                        <div class="checkbox">-->
<!--                            <label>-->
<!--                                <input id="showPassword" type="checkbox"/>Show Password-->
<!--                            </label>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="form-group">-->
<!--                    <label for="password" class="cols-sm-2 control-label">Password</label>-->
<!--                    <div class="cols-sm-10">-->
<!--                        <div class="input-group">-->
<!--                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>-->
<!--                            <input type="password" class="form-control" th:value="${user.password}"-->
<!--                                   id="password" name="password"-->
<!--                                   roleId="password" placeholder="Enter your Password"-->
<!--                                   required="required"-->
<!--                                   pattern="(?=.*[!@#$%^&*()_+={}\[\]:;<>,.?/~`\-])[A-Za-z\d!@#$%^&*()_+={}\[\]:;<>,.?/~`\-]{8,}"-->
<!--                                   title="Password must be at least 8 characters long and contain at least one special character"/>-->
<!--                        </div>-->
<!--                        <div class="checkbox">-->
<!--                            <label>-->
<!--                                <input id="showPassword" type="checkbox"/> Show Password-->
<!--                            </label>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; Warning message container &ndash;&gt;-->
<!--                        <span id="passwordWarning" class="text-danger" style="display:none;">Password must be at least 8 characters long and contain at least one special character.</span>-->
<!--                    </div>-->
<!--                </div>-->

                <div class="form-group">
                    <label for="password" class="cols-sm-2 control-label">Password</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" th:value="${user.password}"
                                   id="password" name="password"
                                   roleId="password" placeholder="Enter your Password"
                                   required="required"
                                   pattern="(?=.*[!@#$%^&*()_+={}\[\]:;<>,.?/~`\-])[A-Za-z\d!@#$%^&*()_+={}\[\]:;<>,.?/~`\-]{8,}"
                                   title="Password must be at least 8 characters long and contain at least one special character"/>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input id="showPassword" type="checkbox"/> Show Password
                            </label>
                        </div>
                        <span id="passwordWarning" class="text-danger" style="display:none;">Password must be at least 8 characters long and contain at least one special character.</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="confirmPassword" class="cols-sm-2 control-label">Confirm Password</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                                   roleId="confirmPassword" placeholder="Confirm your Password" required="required"/>
                        </div>
                        <span id="confirmPasswordWarning" class="text-danger" style="display:none;">Passwords do not match.</span>
                    </div>
                </div>

<!--                <script>-->
<!--                    document.getElementById('showPassword').addEventListener('click', function () {-->
<!--                        var passwordField = document.getElementById('password');-->
<!--                        if (this.checked) {-->
<!--                            passwordField.type = 'text';-->
<!--                        } else {-->
<!--                            passwordField.type = 'password';-->
<!--                        }-->
<!--                    });-->

<!--                    // Password validation warning message-->
<!--                    document.getElementById('password').addEventListener('input', function () {-->
<!--                        var passwordField = document.getElementById('password');-->
<!--                        var passwordWarning = document.getElementById('passwordWarning');-->
<!--                        var pattern = new RegExp("(?=.*[!@#$%^&*()_+={}\\[\\]:;<>,.?/~`\\-])[A-Za-z\\d!@#$%^&*()_+={}\\[\\]:;<>,.?/~`\\-]{8,}");-->

<!--                        if (!pattern.test(passwordField.value)) {-->
<!--                            passwordWarning.style.display = 'block'; // Show warning message-->
<!--                        } else {-->
<!--                            passwordWarning.style.display = 'none'; // Hide warning message-->
<!--                        }-->
<!--                    });-->

<!--                    document.querySelector('form').addEventListener('submit', function (event) {-->
<!--                        var passwordField = document.getElementById('password');-->
<!--                        var passwordWarning = document.getElementById('passwordWarning');-->
<!--                        var pattern = new RegExp("(?=.*[!@#$%^&*()_+={}\\[\\]:;<>,.?/~`\\-])[A-Za-z\\d!@#$%^&*()_+={}\\[\\]:;<>,.?/~`\\-]{8,}");-->

<!--                        if (!pattern.test(passwordField.value)) {-->
<!--                            event.preventDefault(); // Prevent form submission-->
<!--                            passwordWarning.style.display = 'block'; // Show warning message-->
<!--                            alert("Please correct the errors in the form before submitting.");-->
<!--                        }-->
<!--                    });-->
<!--                </script>-->

                <script>
                    document.getElementById('showPassword').addEventListener('click', function () {
                        var passwordField = document.getElementById('password');
                        if (this.checked) {
                            passwordField.type = 'text';
                        } else {
                            passwordField.type = 'password';
                        }
                    });

                    document.getElementById('password').addEventListener('input', function () {
                        var passwordField = document.getElementById('password');
                        var passwordWarning = document.getElementById('passwordWarning');
                        var pattern = new RegExp("(?=.*[!@#$%^&*()_+={}\\[\\]:;<>,.?/~`\\-])[A-Za-z\\d!@#$%^&*()_+={}\\[\\]:;<>,.?/~`\\-]{8,}");

                        if (!pattern.test(passwordField.value)) {
                            passwordWarning.style.display = 'block';
                        } else {
                            passwordWarning.style.display = 'none';
                        }
                    });

                    document.getElementById('confirmPassword').addEventListener('input', function () {
                        var password = document.getElementById('password').value;
                        var confirmPassword = document.getElementById('confirmPassword').value;
                        var confirmPasswordWarning = document.getElementById('confirmPasswordWarning');

                        if (password !== confirmPassword) {
                            confirmPasswordWarning.style.display = 'block';
                        } else {
                            confirmPasswordWarning.style.display = 'none';
                        }
                    });

                    document.getElementById('email').addEventListener('input', function () {
                        var emailField = document.getElementById('email');
                        var emailWarning = document.getElementById('emailWarning');

                        if (!emailField.validity.valid) {
                            emailWarning.style.display = 'block';
                        } else {
                            emailWarning.style.display = 'none';
                        }
                    });

                    document.querySelector('form').addEventListener('submit', function (event) {
                        var passwordField = document.getElementById('password');
                        var confirmPasswordField = document.getElementById('confirmPassword');
                        var emailField = document.getElementById('email');
                        var passwordWarning = document.getElementById('passwordWarning');
                        var confirmPasswordWarning = document.getElementById('confirmPasswordWarning');
                        var emailWarning = document.getElementById('emailWarning');
                        var passwordPattern = new RegExp("(?=.*[!@#$%^&*()_+={}\\[\\]:;<>,.?/~`\\-])[A-Za-z\\d!@#$%^&*()_+={}\\[\\]:;<>,.?/~`\\-]{8,}");

                        var formValid = true;

                        if (!passwordPattern.test(passwordField.value)) {
                            passwordWarning.style.display = 'block';
                            formValid = false;
                        }
                        if (passwordField.value !== confirmPasswordField.value) {
                            confirmPasswordWarning.style.display = 'block';
                            formValid = false;
                        }
                        if (!emailField.validity.valid) {
                            emailWarning.style.display = 'block';
                            formValid = false;
                        }

                        if (!formValid) {
                            event.preventDefault();
                            alert("Please correct the errors in the form before submitting.");
                        }
                    });
                </script>


                <!--<div class="form-group">-->
                <!--<label for="confirm" class="cols-sm-2 control-label">Confirm Secret</label>-->
                <!--<div class="cols-sm-10">-->
                <!--<div class="input-group">-->
                <!--<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>-->
                <!--<input type="secret" class="form-control" name="confirm" roleId="confirm"  placeholder="Confirm your Secret" required="required"/>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->

                <div class="form-group ">
                    <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Sign up!</button>
                </div>

                <hr/>

                <div class="form-group ">
                    <a class="btn btn-info btn-lg btn-block login-button" th:href="@{/}">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>


<div th:replace="common/header :: body-bottom-scripts"/>

</body>
</html>
